<div ng-hide="editing">
  <label>{{propertyDisplayName}}</label>:
  <em class="text-muted">{{ getDisplayValue(values[property.name]) }}</em>
  <a href="" ng-click="edit()" ng-hide="editing">
    <span class="glyphicon glyphicon-pencil"></span>
  </a>
</div>
<div ng-show="retrievingEditInfo" class="text-muted">loading edit info…</div>
<div ng-if="editing && !retrievingEditInfo">
  
  <div class="panel panel-default">
  <!-- Default panel contents -->
    <div class="panel-heading">{{propertyDisplayName}}</div>
    <div class="panel-body">
      <div 
        ng-if="valueTypeSchema"
        java-bean-editor
        helper-service="helperService"
        type-schema="valueTypeSchema"
        values="values[property.name]">
      </div>    
    </div>
  </div>
</div>

